<!DOCTYPE html>
    <html>
        <head>
            <title>TOP MEMES 2019</title>
            <link rel="stylesheet" type="text/css" href="assets/meme.css">        
        </head>
        <body>
            <div id="title-box">
                <h1>TOP MEMES 2019</h1>
            </div>
