<%include partials/header.ejs %>

<form action="/results" method="GET">
    <input type="number" placeholder="number of memes" name="range">
    <input type="submit">
</form>

<% include partials/footer.ejs %>
